body {
    margin: 0%;
    font-family: sans-serif;
}

header {
    width: 100%;
    background: ;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Crea la lista horizontal con espacio*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/* Estilos para los link */
li a {
	display: block;
    padding: 15px, 20px;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
  transition:all 0.5s ease;
}

/* estados hover de los link */
li:hover a {
	cursor: pointer;
    background: #9fa7a4;
}

/* estilos del dropdown */
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/* estilos del estado hover del dropdown*/
li:hover ul a:hover {
	background: #2f3036;
	color: #fff;
}

/*Oculta el dropdown*/
li ul {
	display: none;
}

/* Pone el dropdown en vertical */
li ul li {
	display: block;
	float: none;
}

/* Previene el texto wrapping */
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/* Aparace el dropdown en hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/* Estilo de .muestra-menu */
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #2f3036;
	text-align: center;
	padding: 10px 0;
	display: none;
  transition:all 0.5s ease;
}


/*Oculta el checkbox*/
input[type=checkbox]{
    display: none;
}

/* muestra el menu cuando el checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/* estilos responsive */

@media screen and (max-width : 760px){
	/*Hace que el dropdown links aparezcan en linea */
	ul {
		position: absolute;
		display: block;
	}
	/*Crea espacio vertical */
	li {
		margin-bottom: 1px;
	}
	/* crea todo el menu links al 60% */
	ul li, li a {
		width: 60%;
	}
	
}
/*
.mesa {
	width:25vh;
	max-width:100px;
	height:25vh;
	max-height:100px;
	position:relative;
	background:red;
	justify-content: space-around;
  }*/
  /* Círculos de colores numerados */
  h1 {
	flex-direction: row;
  }

span.red {
	background: red;
	border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 15px;
	text-align: center;
	width: 1.6em; 
	box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);

  }
  
  div.grey {
	background: #cccccc;
	border-radius: 0.8em;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 15px;
	text-align: center;
	width: 1.6em; 
	box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
	flex-direction: row;
  }
  
  span.green {
	background: #5EA226;
	border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 15px;
	text-align: center;
	width: 1.6em; 
	box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
  }
  
  span.blue {
	background: #5178D0;
	border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 15px;
	text-align: center;
	width: 1.6em; 
	box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
  }
  
  span.pink {
	background: #EF0BD8;
	border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 15px;
	text-align: center;
	width: 1.6em; 
	box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
	

  }
  
  
  
  
  