/* Archivo INDEX.html */

body {
    margin: 0%;
    font-family: sans-serif;
	border-style: ridge;
}

header {
    width: 100%;
    background: ;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

/*Crea la lista horizontal con espacio*/
li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

/* Estilos para los link */
li a {
	display: block;
    padding: 15px, 20px;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
    transition:all 0.5s ease;
}

/* estados hover de los link */
li:hover a {
	cursor: pointer;
    background: #9fa7a4;
}

/* estilos del dropdown */
li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/* estilos del estado hover del dropdown*/
li:hover ul a:hover {
	background: #2f3036;
	color: #fff;
}

/*Oculta el dropdown*/
li ul {
	display: none;
}

/* Pone el dropdown en vertical */
li ul li {
	display: block;
	float: none;
}

/* Previene el texto wrapping */
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}

/* Aparace el dropdown en hover*/
ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

/* Estilo de .muestra-menu */
.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #2f3036;
	text-align: center;
	padding: 10px 0;
	display: none;
  transition:all 0.5s ease;
}


/*Oculta el checkbox*/
input[type=checkbox]{
    display: none;
}

/* muestra el menu cuando el checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/* estilos responsive */

@media screen and (max-width : 760px){
	/*Hace que el dropdown links aparezcan en linea */
	ul {
		position: absolute;
		display: block;
	}
	/*Crea espacio vertical */
	li {
		margin-bottom: 1px;
	}
	/* crea todo el menu links al 60% */
	ul li, li a {
		width: 60%;
	}
	
}

  /* MAPA DE MESAS */
	
	body {
		font-family: 'Lora', serif;		
	}

	h2 {
		font-weight: bold;
		margin-top: 15px;
	}
  .container {

	width: 90%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	padding-left: 10%;

  }

 .mapaMesas {
	text-align: center;
  }
 
  h1 {
	width: 20%;
  }
/* MESAS CIRCULARES */
span {
	background: rgba(97, 231, 35, 0.726);
	border-radius: 100%;
	color: #ffffff;
	display: block;
	font-weight: bold;
	line-height: 2.2em;
	margin-right: 15px;
	margin-bottom: 30px;
	text-align: center;
	width: 2.3em;
	height: 2.3em; 
	box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
	flex-direction: row;
  }
/* MESAS RECTANGULARES */
  div .square {
	width:25vh;
	max-width:100px;
	max-height:100px;
	width: 5em;
	height: 2em; 
	color: #ffffff;
	display: block;
	background: rgba(97, 231, 35, 0.726);
	text-align: center;
	font-weight: bold;
	line-height: 2em;
	margin-bottom: 30px;
	box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
}
  img {
	max-width:100px;
	max-height:100px;
	background-color: transparent;
	padding-top: 15%;
  }

  div .number {
	font-weight: bold;
	line-height: 2.5em;
	text-align: center;
	position: absolute;  
	z-index: 4;
	background: rgba(81, 247, 4, 0.726);
	border-radius: 100%;
	color: red;
	display: grid;
	grid-column: 1/5;
	grid-row: 1;
	width: 2.3em;
	height: 2.3em; 
	box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.5);
	flex-direction: row;

}

/*  
div .bigsquare {

	width: 15em;
	height: 2em; 
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	background:rgb(103, 218, 10);
	text-align: center;
	line-height: 2em;

}*/
  
  /* MESA - COMANDA */
/* Acá tenemos que cargar dos rectangulos, uno para las comandas, el otro será para 
los botones
de las categorías  */

body {
	font-family: 'Lora', serif;	
	
	}

	.rectangulos {
		display: grid;
		grid-auto-columns: 1fr;
	}

	.cargar {
	border-style: solid;
	border-width: thin;
	}

  .pedido {
	border-style: solid;
	border-width: thin;
  }

  li {
	  
	list-style-type: circle;
  }

  .CerrarMesa {
	  box-shadow: 3px 3px 0px 0px rgba(106, 163, 137, 0.692);
	  border-radius: 10%;
	  cursor: pointer;
	  border: 1px solid rgb(121, 186, 156);
	  font-weight: 100;
	  font-size: 20px;
	  color:rgb(61, 116, 91);	  
}

.CerrarMesa:hover {
	background-color: rgba(106, 163, 137, 0.692);
}

.CerrarMesa:active {
top:1px;
}
/*  */